In [69]:
import pandas as pd
import numpy as py

In [2]:
import requests
from bs4 import BeautifulSoup

In [6]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1',headers = headers).text

In [14]:
soup = BeautifulSoup(webpage, 'html.parser')

In [16]:
#print(soup.prettify)

In [21]:
soup.find_all('h1')[0].text

'\n\t\t\t\t\t\t\tList of companies in India\n\t\t\t\t\t\t'

In [23]:
len(soup.find_all('h2'))

24

In [27]:

for i in soup.find_all('h2') :
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [30]:
 #issue is there are many span types 
for i in soup.find_all('span'):
       print(i.text.strip())

+

Companies
Reviews
Salaries
Interviews
Awards
Participate in ABECA 2025
All Filters








9,86,353
							unique
							companies found
Follow
3.8
IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +342 more
Highly Rated For
Job Security, Work Life Balance
Critically Rated For
Promotions / Appraisal, Salary & Benefits
73.8k
Reviews
856.6k
Salaries
6.4k
Interviews
960
Jobs
11.6k
Benefits
77
Photos
Follow
4.0
IT Services & Consulting | 1 Lakh+ Employees | Public | 35 years old | Dublin +175 more
Highly Rated For
Company Culture, Skill Development / Learning, Job Security
46.8k
Reviews
586.6k
Salaries
4.6k
Interviews
22.5k
Jobs
7.1k
Benefits
39
Photos

Follow
3.9
IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 30 years old | Teaneck. New Jersey. +159 more
Highly Rated For
Skill Development / Learning
Critically Rated For
Promotions / Appraisal
42.1k
Reviews
561.9k
Salaries
3.8k
Interviews
402
Jobs
5.8k
Benefits
63
Photos
Follow
3.8
IT Services & Consulting | 1 Lakh+ Employees | Public | 79 years old | Bangalore/Bengaluru +276 more
Highly Rated For
Job Security
Critically Rated For
Promotions / Appraisal, Salary & Benefits
39.6k
Reviews
429.5k
Salaries
3.8k
Interviews
245
Jobs
5k
Benefits
79
Photos

Follow
3.9
IT Services & Consulting | 1 Lakh+ Employees | Public | 57 years old | Paris +140 more
Highly Rated For
Job Security, Work Life Balance, Skill Development / Learning
Critically Rated For
Promotions / Appraisal, Salary & Benefits
34.3k
Reviews
418.2k
Salaries
3k
Interviews
653
Jobs
4k
Benefits
32
Photos
Follow
4.0
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1540 more
Highly Rated For
Job Security, Skill Development / Learning
Critically Rated For
Promotions / Appraisal
34.2k
Reviews
133.8k
Salaries
1.6k
Interviews
254
Jobs
3.2k
Benefits
4
Photos
Follow
4.0
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1281 more
Highly Rated For
Job Security, Skill Development / Learning, Company Culture
33.8k
Reviews
143.6k
Salaries
1.9k
Interviews
57
Jobs
3.7k
Benefits
48
Photos

Follow
3.8
IT Services & Consulting | 1 Lakh+ Employees | Public | 43 years old | Bengaluru/Bangalore +181 more
Highly Rated For
Job Security, Company Culture, Skill Development / Learning
Critically Rated For
Salary & Benefits, Promotions / Appraisal
32.1k
Reviews
461.7k
Salaries
5k
Interviews
1.1k
Jobs
5.2k
Benefits
85
Photos

Follow
3.7
IT Services & Consulting | 1 Lakh+ Employees | Public | 33 years old | Noida +183 more
Highly Rated For
Job Security
Critically Rated For
Promotions / Appraisal, Salary & Benefits, Work Satisfaction
28.8k
Reviews
295.5k
Salaries
2.6k
Interviews
259
Jobs
4.1k
Benefits
35
Photos

Follow
3.7
IT Services & Consulting | 1 Lakh+ Employees | Public | 38 years old | Pune +264 more
Critically Rated For
Promotions / Appraisal, Salary & Benefits
27.9k
Reviews
252.4k
Salaries
2.5k
Interviews
1.1k
Jobs
3.6k
Benefits
42
Photos
Follow
3.9
IT Services & Consulting | 1 Lakh+ Employees | Public | 27 years old | New York +110 more
Highly Rated For
Job Security, Skill Development / Learning, Work Life Balance
Critically Rated For
Salary & Benefits, Promotions / Appraisal
26.4k
Reviews
190.9k
Salaries
2k
Interviews
647
Jobs
3.7k
Benefits
36
Photos
Follow
3.9
Banking | 50k-1 Lakh Employees | Public | 31 years old | Mumbai +1298 more
Highly Rated For
Job Security
22.2k
Reviews
98.6k
Salaries
1.1k
Interviews
193
Jobs
2.2k
Benefits
45
Photos

Follow
3.6
BPO | 50k-1 Lakh Employees | Forbes Global 2000 | 46 years old | Paris +183 more
Critically Rated For
Promotions / Appraisal, Salary & Benefits, Work Satisfaction
22.1k
Reviews
84.4k
Salaries
1.3k
Interviews
384
Jobs
2k
Benefits
29
Photos

Follow
3.9
BPO | 50k-1 Lakh Employees | Public | 41 years old | Fremont +115 more
Highly Rated For
Job Security, Company Culture
Critically Rated For
Promotions / Appraisal, Salary & Benefits
22k
Reviews
106.2k
Salaries
1.1k
Interviews
90
Jobs
3.3k
Benefits
33
Photos

Follow
4.0
Telecom | 50k-1 Lakh Employees | Public | 17 years old | Navi Mumbai +1171 more
Highly Rated For
Job Security, Skill Development / Learning
Critically Rated For
Promotions / Appraisal
20.8k
Reviews
66.8k
Salaries
1.2k
Interviews
132
Jobs
2.6k
Benefits
43
Photos

Follow
4.1
Internet | 1 Lakh+ Employees | Public | 30 years old | Seattle +440 more
Highly Rated For
Company Culture, Salary & Benefits, Work Life Balance
20.7k
Reviews
122.8k
Salaries
3.5k
Interviews
184
Jobs
4.2k
Benefits
53
Photos

Follow
4.1
IT Services & Consulting | 1 Lakh+ Employees | Public | 113 years old | Armonk +145 more
Highly Rated For
Work Life Balance, Job Security, Skill Development / Learning
Critically Rated For
Promotions / Appraisal
19.8k
Reviews
220.6k
Salaries
1.6k
Interviews
3.1k
Jobs
2.7k
Benefits
20
Photos

Follow
4.0
Retail | 1 Lakh+ Employees | 18 years old | Navi Mumbai +995 more
Highly Rated For
Skill Development / Learning, Job Security
Critically Rated For
Promotions / Appraisal
19k
Reviews
60.2k
Salaries
1.2k
Interviews
163
Jobs
2k
Benefits
101
Photos
Follow
4.0
NBFC | 1 Lakh+ Employees | 17 years old | Ahmedabad +947 more
Highly Rated For
Skill Development / Learning, Job Security, Company Culture
Critically Rated For
Promotions / Appraisal
18.3k
Reviews
50.7k
Salaries
607
Interviews
110
Jobs
1.5k
Benefits
32
Photos

Follow
4.1
Engineering & Construction | 10k-50k Employees | Public | 86 years old | Mumbai +621 more
Highly Rated For
Job Security, Skill Development / Learning
16.8k
Reviews
79.7k
Salaries
1.1k
Interviews
153
Jobs
2.9k
Benefits
32
Photos
· Power Companies · Real Estate Companies · Recruitment Companies · Industrial Machinery Companies
· Companies in Noida · Companies in Ahmedabad


Home
>
list of companies
list of companies
60 Lakh+
2 Crore+
5 Lakh+
1 Crore+
Contribute
Write a Review
Add a Salary
Share an Interview
Add Office Photos
Add Company Benefits
Search
Users/Jobseekers
Employers
NEW
AmbitionBox Awards
AmbitionBox
Support & Settings
Give Feedback
Manage Account
Need help related to account?
Follow Us

In [32]:
#specify class

for i in soup.find_all('span', class_= 'companyCardWrapper__companyRatingValue') :
    print(i.text.strip())

3.8
4.0
3.9
3.8
3.9
4.0
4.0
3.8
3.7
3.7
3.9
3.9
3.6
3.9
4.0
4.1
4.1
4.0
4.0
4.1

In [33]:
#doing for reviews

for i in soup.find_all('span', class_= 'companyCardWrapper__ActionCount'):
    print(i.text.strip())

73.8k
856.6k
6.4k
960
11.6k
77
46.8k
586.6k
4.6k
22.5k
7.1k
39
42.1k
561.9k
3.8k
402
5.8k
63
39.6k
429.5k
3.8k
245
5k
79
34.3k
418.2k
3k
653
4k
32
34.2k
133.8k
1.6k
254
3.2k
4
33.8k
143.6k
1.9k
57
3.7k
48
32.1k
461.7k
5k
1.1k
5.2k
85
28.8k
295.5k
2.6k
259
4.1k
35
27.9k
252.4k
2.5k
1.1k
3.6k
42
26.4k
190.9k
2k
647
3.7k
36
22.2k
98.6k
1.1k
193
2.2k
45
22.1k
84.4k
1.3k
384
2k
29
22k
106.2k
1.1k
90
3.3k
33
20.8k
66.8k
1.2k
132
2.6k
43
20.7k
122.8k
3.5k
184
4.2k
53
19.8k
220.6k
1.6k
3.1k
2.7k
20
19k
60.2k
1.2k
163
2k
101
18.3k
50.7k
607
110
1.5k
32
16.8k
79.7k
1.1k
153
2.9k
32

In [34]:
#now another issue when even specifying class does not help. I just want employees and HQ
for i in soup.find_all('span', class_= 'companyCardWrapper__interLinking'):
    print(i.text.strip())

IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +342 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 35 years old | Dublin +175 more
IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 30 years old | Teaneck. New Jersey. +159 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 79 years old | Bangalore/Bengaluru +276 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 57 years old | Paris +140 more
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1540 more
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1281 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 43 years old | Bengaluru/Bangalore +181 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 33 years old | Noida +183 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 38 years old | Pune +264 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 27 years old | New York +110 more
Banking | 50k-1 Lakh Employees | Public | 31 years old | Mumbai +1298 more
BPO | 50k-1 Lakh Employees | Forbes Global 2000 | 46 years old | Paris +183 more
BPO | 50k-1 Lakh Employees | Public | 41 years old | Fremont +115 more
Telecom | 50k-1 Lakh Employees | Public | 17 years old | Navi Mumbai +1171 more
Internet | 1 Lakh+ Employees | Public | 30 years old | Seattle +440 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 113 years old | Armonk +145 more
Retail | 1 Lakh+ Employees | 18 years old | Navi Mumbai +995 more
NBFC | 1 Lakh+ Employees | 17 years old | Ahmedabad +947 more
Engineering & Construction | 10k-50k Employees | Public | 86 years old | Mumbai +621 more

In [36]:
#better we fetch the entire container unit containing all the information 
company = soup.find_all('div', class_="companyCardWrapper")
len(company)

20

In [45]:
name =[]

#for i in company:
    #print(i.find('h2').text.strip())
    
for i in company:
    name.append(i.find('h2').text.strip())

In [46]:
name

['TCS',
 'Accenture',
 'Cognizant',
 'Wipro',
 'Capgemini',
 'HDFC Bank',
 'ICICI Bank',
 'Infosys',
 'HCLTech',
 'Tech Mahindra',
 'Genpact',
 'Axis Bank',
 'Teleperformance',
 'Concentrix Corporation',
 'Jio',
 'Amazon',
 'IBM',
 'Reliance Retail',
 'HDB Financial Services',
 'Larsen & Toubro Limited']

In [52]:
rating = []
reviews= []
for i in company: 
    rating.append(i.find('span', class_= 'companyCardWrapper__companyRatingValue').text.strip())
    reviews.append(i.find('span', class_= 'companyCardWrapper__ActionCount').text.strip())

In [53]:
reviews

['73.8k',
 '46.8k',
 '42.1k',
 '39.6k',
 '34.3k',
 '34.2k',
 '33.8k',
 '32.1k',
 '28.8k',
 '27.9k',
 '26.4k',
 '22.2k',
 '22.1k',
 '22k',
 '20.8k',
 '20.7k',
 '19.8k',
 '19k',
 '18.3k',
 '16.8k']

In [59]:
#now for extracting the other parts which are indistinguishable on class

company[0].find('span', class_= 'companyCardWrapper__interLinking').text.strip()

'IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +342 more'

In [60]:
company_info = []
for i in company : 
    company_info.append(i.find('span', class_= 'companyCardWrapper__interLinking').text.strip())

In [61]:
company_info
#ask bhavin how to split

['IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +342 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 35 years old | Dublin +175 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 30 years old | Teaneck. New Jersey. +159 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 79 years old | Bangalore/Bengaluru +276 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 57 years old | Paris +140 more',
 'Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1540 more',
 'Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1281 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 43 years old | Bengaluru/Bangalore +181 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 33 years old | Noida +183 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 38 years old | Pune +264 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 27 years old | New York +110 more',
 'Banking | 50k-1 Lakh Employees | Public | 31 years old | Mumbai +1298 more',
 'BPO | 50k-1 Lakh Employees | Forbes Global 2000 | 46 years old | Paris +183 more',
 'BPO | 50k-1 Lakh Employees | Public | 41 years old | Fremont +115 more',
 'Telecom | 50k-1 Lakh Employees | Public | 17 years old | Navi Mumbai +1171 more',
 'Internet | 1 Lakh+ Employees | Public | 30 years old | Seattle +440 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 113 years old | Armonk +145 more',
 'Retail | 1 Lakh+ Employees | 18 years old | Navi Mumbai +995 more',
 'NBFC | 1 Lakh+ Employees | 17 years old | Ahmedabad +947 more',
 'Engineering & Construction | 10k-50k Employees | Public | 86 years old | Mumbai +621 more']

In [64]:
# creating data frame from lists
d = {'Name':name, 'Rating': rating, 'Reviews': reviews, 'Company_info': company_info}

df = pd.DataFrame(d)

print(df.head())

        Name Rating Reviews                                       Company_info
0        TCS    3.8   73.8k  IT Services & Consulting | 1 Lakh+ Employees |...
1  Accenture    4.0   46.8k  IT Services & Consulting | 1 Lakh+ Employees |...
2  Cognizant    3.9   42.1k  IT Services & Consulting | 1 Lakh+ Employees |...
3      Wipro    3.8   39.6k  IT Services & Consulting | 1 Lakh+ Employees |...
4  Capgemini    3.9   34.3k  IT Services & Consulting | 1 Lakh+ Employees |...

In [ ]:
#suppose in case we did not have a rating value for a company. in that case we would need to use 
#try: (rating.append....) except: (rating.append(np.nan))

In [71]:
df.dtypes

Name            object
Rating          object
Reviews         object
Company_info    object
dtype: object

In [76]:
#now running this for 10 such pages

final_df = pd.DataFrame()

for j in range(1,11):
    
    url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url, headers = headers).text
    soup = BeautifulSoup(webpage, 'html.parser')
    company = soup.find_all('div', class_="companyCardWrapper")
    
    name =[]
    rating = []
    reviews= []
    company_info = []
    
    
    for i in company: 
        try:
            name.append(i.find('h2').text.strip())
        except:
            name.append(np.nan)
            
        try:
            rating.append(i.find('span', class_= 'companyCardWrapper__companyRatingValue').text.strip())
        except:
            rating.append(np.nan)
        
        try:
            reviews.append(i.find('span', class_= 'companyCardWrapper__ActionCount').text.strip())
        except:
            reviews.append(np.nan)
        
        try:
            company_info.append(i.find('span', class_= 'companyCardWrapper__interLinking').text.strip())
        except:
            company_info.append(np.nan)
        
    d = {'Name':name, 'Rating': rating, 'Reviews': reviews, 'Company_info': company_info}

    df = pd.DataFrame(d)
    
         
    final_df = final_df._append(df, ignore_index = True) #index restarts from 1 for each new page

In [77]:
final_df.sample(5)

,Name,Rating,Reviews,Company_info
156,Tata Communications,4.2,3k,Telecom | 5k-10k Employees | Public | 38 years...
2,Cognizant,3.9,42.1k,IT Services & Consulting | 1 Lakh+ Employees |...
116,TVS Motor,4.1,3.7k,Automobile | 5k-10k Employees | Public | 45 ye...
180,Tata Capital,4.2,2.8k,NBFC | 5k-10k Employees | Fortune India 500 | ...
14,Jio,4.0,20.8k,Telecom | 50k-1 Lakh Employees | Public | 17 y...